
#map_canvas {
	width: 100%;
	height: 620px;
	box-shadow: 0 10px 25px 0px #292828;
	margin-bottom: 40px;
}

.cf-map-bubble {
	width: 306px;
	margin-left: 15px; 
	float: right;
}

.cf-map-timestamp {
	font-size: 10px;

	color: #bababa;
}

.cf-map-meta {
	display: block;
	padding-right: 18px;
	font-size: 12px;
	text-align: right; 
}

.cf-map-img {
	float: left;
}

.cf-map-caption {
	display: block;
	background: #dedede;
	padding: 10px;
}

.cf-map-user {
	background: url('images/bg-users.png') right center no-repeat;
	background-size: 15px auto;
	margin-right: 3px;
}

.cf-map-location {
	background: url("images/bg-map.png") right center no-repeat;
	background-size: 10px auto;
	margin-right: 6px;
}


@media only screen and (max-width: 700px) {
	.cf-map-img, .cf-map-bubble {
		display: block;
		float: none;
	}
	
	.cf-map-img {
		margin-bottom: 5px;
		max-width: 306px;
		width: 100%;
	}
	
	.cf-map-bubble {
		margin: 0;
		width: 100%;
		max-width: 306px;
	}
	
	#map_canvas {
		margin: 0 15px 40px;
		display: block;
		width: auto;
		height: 500px;
	}
}

@media only screen and (max-width: 450px) {
	.cf-map-bubble {
		display: none;
	}
}