
.ktn-map-canvas {
	box-shadow: 0 10px 25px 0px #292828;
	height: 620px;
	margin-bottom: 40px;
	width: 100%;
}

.ktn-map-bubble {
	float: right;
	margin-left: 15px;
	width: 306px;
}

.ktn-map-timestamp {
	color: #bababa;
	font-size: 10px;
}

.ktn-map-meta {
	display: block;
	font-size: 12px;
	padding-right: 18px;
	text-align: right; 
}

.ktn-map-img {
	float: left;
}

.ktn-map-caption {
	background: #dedede;
	display: block;
	padding: 10px;
}

.ktn-map-user {
	background: url('images/bg-users.png') right center no-repeat;
	background-size: 15px auto;
	margin-right: 3px;
}

.ktn-map-location {
	background: url('images/bg-map.png') right center no-repeat;
	background-size: 10px auto;
	margin-right: 6px;
}


@media only screen and (max-width: 700px) {
	.ktn-map-img,
	.ktn-map-bubble {
		display: block;
		float: none;
	}
	
	.ktn-map-img {
		margin-bottom: 5px;
		max-width: 306px;
		width: 100%;
	}
	
	.ktn-map-bubble {
		margin: 0;
		max-width: 306px;
		width: 100%;
	}
	
	.ktn-map-canvas {
		display: block;
		height: 500px;
		margin: 0 15px 40px;
		width: auto;
	}
}

@media only screen and (max-width: 450px) {
	.ktn-map-bubble {
		display: none;
	}
}